.DS_Store
vocabulary/pronunciations/*.mp3
vocabulary/pronunciations/de/0.mp3
vocabulary/pronunciations/de/1.mp3
vocabulary/pronunciations/de/2.mp3
vocabulary/pronunciations/fr/0.mp3
vocabulary/pronunciations/fr/1.mp3
vocabulary/pronunciations/fr/2.mp3
vocabulary/pronunciations/fr/3.mp3
vocabulary/pronunciations/fr/4.mp3
vocabulary/pronunciations/fr/5.mp3
vocabulary/pronunciations/fr/6.mp3
vocabulary/pronunciations/fr/7.mp3
vocabulary/pronunciations/fr/8.mp3
vocabulary/pronunciations/fr/9.mp3
vocabulary/pronunciations/fr/10.mp3
vocabulary/pronunciations/fr/11.mp3
vocabulary/pronunciations/fr/12.mp3
vocabulary/pronunciations/fr/13.mp3
vocabulary/pronunciations/fr/14.mp3
vocabulary/pronunciations/fr/15.mp3
vocabulary/pronunciations/fr/16.mp3
vocabulary/pronunciations/fr/17.mp3
vocabulary/pronunciations/fr/18.mp3
vocabulary/pronunciations/fr/19.mp3
vocabulary/pronunciations/fr/20.mp3
vocabulary/pronunciations/fr/21.mp3
vocabulary/pronunciations/fr/22.mp3
vocabulary/pronunciations/fr/23.mp3
vocabulary/pronunciations/fr/24.mp3
vocabulary/pronunciations/fr/25.mp3
vocabulary/pronunciations/fr/26.mp3
vocabulary/pronunciations/fr/27.mp3
vocabulary/pronunciations/fr/28.mp3
vocabulary/pronunciations/fr/29.mp3
vocabulary/pronunciations/fr/30.mp3
vocabulary/pronunciations/fr/31.mp3
vocabulary/pronunciations/fr/32.mp3
vocabulary/pronunciations/fr/33.mp3
vocabulary/pronunciations/fr/34.mp3
vocabulary/pronunciations/fr/35.mp3
vocabulary/pronunciations/fr/36.mp3
vocabulary/pronunciations/fr/37.mp3
vocabulary/pronunciations/fr/38.mp3
vocabulary/pronunciations/fr/39.mp3
vocabulary/pronunciations/fr/40.mp3
vocabulary/pronunciations/fr/41.mp3
vocabulary/pronunciations/fr/42.mp3
vocabulary/pronunciations/fr/43.mp3
vocabulary/pronunciations/fr/44.mp3
vocabulary/pronunciations/fr/45.mp3
vocabulary/pronunciations/fr/46.mp3
vocabulary/pronunciations/fr/47.mp3
vocabulary/pronunciations/fr/48.mp3
vocabulary/pronunciations/fr/49.mp3
vocabulary/pronunciations/fr/50.mp3
vocabulary/pronunciations/fr/51.mp3
vocabulary/pronunciations/fr/52.mp3
calculoMental/endRing.mp3
vocabulary/pronunciations/de/3.mp3
vocabulary/pronunciations/de/4.mp3
vocabulary/pronunciations/de/5.mp3
vocabulary/pronunciations/de/6.mp3
vocabulary/pronunciations/de/7.mp3
vocabulary/pronunciations/en/0.mp3
vocabulary/deberes_hugo_frances.txt
vocabulary/deberes_yago_aleman.txt
